/*.video{
    width: 100%;
}
*{
    margin:0;
    padding: 0;
}*/
#wrapper{
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}
.head{
    width: 1440px;
    height: 50px;
    background-color: rgb(245, 245, 245);
    top: 0;
}

.h1{
    text-align: left;
    top: 6px;
    left: 20px;
    position: relative;
    margin: auto;
    color: rgb(35, 90, 181) ;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
    
}
.logo{
    position: absolute;
    top: 5px;
    left:0;
    z-index: 0;
}


.main{
    font-family: Arial, Helvetica, sans-serif;

}

.main_text{
    padding-left: 0;
    left: 10px;
    top: 20px;
    margin: 0 auto;
    position:relative;
    width: 1440px;
    z-index: 4;
    color: azure;
}

.reference{
    color: azure;
}


.img{
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 3;
    max-width: 1440px;
    margin: 0 auto;
    
    
}
.video_element{
    position: absolute;
    
    top:145px;
    left:0;
    z-index: 2;
}
.footer_text{
    position: absolute;
    top: 1125px;
    left: 10px;
    z-index: 1;
    color: rgb(35, 90, 181);
    font-family: Arial, Helvetica, sans-serif;
    

}
.img_footer{
    position: absolute;
    left: 0;
    top: 1000px;
    z-index: 0;
}
